PCPASimulator/Schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="PushdownAutomataSystem">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="InputSymbols">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="Symbol" maxOccurs="unbounded" minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PushdownSymbols">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="Symbol" maxOccurs="unbounded" minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="QuerySymbols">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Symbol" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:byte" name="Automaton" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PushdownAutomaton" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="States">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="State" maxOccurs="unbounded" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="FinalStates">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="State" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Transitions">
								<xs:complexType>
									<xs:choice maxOccurs="unbounded" minOccurs="0">
										<xs:element name="Transition">
											<xs:complexType mixed="true">
												<xs:sequence>
													<xs:element type="xs:string" name="Symbol" maxOccurs="unbounded" minOccurs="0" />
												</xs:sequence>
												<xs:attribute type="xs:string" name="OldState" use="required" />
												<xs:attribute type="xs:string" name="TopmostSymbol" use="required" />
												<xs:attribute type="xs:string" name="NewState" use="required" />
												<xs:attribute type="xs:string" name="InputSymbol" use="optional" />
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:string" name="InitialState" use="required" />
						<xs:attribute type="xs:string" name="InitialStackSymbol" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute type="xs:string" name="AcceptingMode" use="required" />
			<xs:attribute type="xs:string" name="IsReturning" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>